{% extends 'base.html' %}
{% block title %}Create Issue{% endblock %}
{% block navbar_logo %}
<a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
{% endblock %}
{% block navbar %}
<a href="{% url 'project_detail' project.id %}">Issue List</a>
{% endblock %}
{% block content %}
<h1>Create Issue</h1>
<div class="form">
    <form action="{% url 'project_issue_add' project.id %}" method="post">
        {% include 'partials/issue_form.html' with button_text="Create" %}
    </form>
</div>
{% endblock %}