{% extends 'base.html' %}
{% block title %}Projects List{% endblock %}
{% block navbar %}
<a href="{% url 'projects_list' %}">Projects List</a>
{% if user.is_authenticated %}
{% if porms.project.change_project %}
<a href="{% url 'project_add' %}">Add Project</a>
{% endif %}
{% endif %}
{% endblock %}
{% block content %}
{% for project in projects %}
<div class="project_info">
    <p><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></p>
    <p>Start: {{ project.start_date }}</p>
</div>
{% endfor %}
<div class="bottom_indent"></div>
{% endblock %}