*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 60px;
    background: #283747;
    font-size: 25px;
    color: #fffee8;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.to_do_row{
    margin-top: 10px;
    border-bottom: 2px solid black;
}
.navbar{
    display: block;
    background: #424949;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}
.menu{
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}
.menu li {
    display: inline-block;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}
.menu a:hover {
    color: #AED6F1;
    text-decoration: underline;
}
.logo{
    font-size: 30px;
    margin-right: 100px;
}
.issue_info{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 5px 0 0;
    background-color: #424949;
}
.issue_info a{
    color: #F0F3F4;
    text-decoration: none;
}
.issue_info a:hover{
    color: #AED6F1;
}
.issue_detail_info p{
    font-size: 15px;
}
.issue_detail_info p span{
    font-size: 20px;
}
.form{
    margin-top: 50px;
}
.form p{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.form p input{
    width: 200px;
}
.form p textarea{
    width: 202px;
}
.form p select{
    width: 204px;
}
.button_update_or_create input{
    padding: 2px 20px;
    background: SteelBlue;
    color: white;
    border-radius: 5px;
}
.button_update_or_create input:hover{
    background: DarkSlateGray;
    color: White;
}
.delete_text{
    color: #EC7063;
    margin-bottom: 15px;
}
.delete_form_block{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.form_yes form input{
    background: #CD6155;
    color: white;
    padding: 4px 15px;
    border-radius: 5px;
}
.form_no form input{
    background: #1E8449;
    color: white;
    padding: 4px 15px;
    border-radius: 5px;
}
.form_yes form input:hover{
    background: #7B241C;
    color: white;
}
.form_no form input:hover{
    background: #0B5345;
    color: white;
}
.search_form{
    display: flex;
    font-size: 20px;
}
.button_search input{
    padding: 0 20px;
    margin-left: 10px;
    background: SteelBlue;
    color: white;
    border-radius: 5px;
}
.button_search input:hover{
    background: DarkSlateGray;
    color: White;
}
.issue_not_found{
    padding-top: 20px;
}
.pagination {
    text-align: center;
    margin-top: 20px;
}
.pagination a, .pagination .page-disabled {
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}
.pagination a {
    background: SteelBlue;
    text-decoration: none;
    color: #fffee8;
}
.pagination a:hover {
    background: DarkSlateGray;
    color: white;
}
.page-disabled {
    background: #6a7dcc;
    color: #dddddd
}
.pagination .current-page {
    display: inline-block;
}
.pagination .current-page input {
    width: 50px;
    padding: 2px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 2px gray;
}
.bottom_indent{
    margin-top: 100px;
}
.project_info{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 5px 0 0;
    background-color: #424949;
}
.project_info p a{
    color: #F0F3F4;
    text-decoration: none;
}
.project_info p a:hover{
    color: #AED6F1;
}
.form_group{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.form_group input{
    width: 220px;
}
.button_login{
    padding: 2px 25px;
    background: SteelBlue;
    color: white;
    border-radius: 5px;
}
.button_login:hover{
    background: DarkSlateGray;
    color: white;
}
.users_list{
    margin-top: 20px;
}